df-sbx-ab092898/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-sbx-ab092898"
		},
		"schRunPipelines_properties_SchemaDriftTest_parameters_plSourceSchema": {
			"type": "string",
			"defaultValue": "stage"
		},
		"schRunPipelines_properties_SchemaDriftTest_parameters_plSourceTable": {
			"type": "string",
			"defaultValue": "PersonC"
		},
		"schRunPipelines_properties_SchemaDriftTest_parameters_plTargetSchema": {
			"type": "string",
			"defaultValue": "dbo"
		},
		"schRunPipelines_properties_SchemaDriftTest_parameters_plTargetTableRigid": {
			"type": "string",
			"defaultValue": "PersonRigid"
		},
		"schRunPipelines_properties_SchemaDriftTest_parameters_plTargetTableFlexible": {
			"type": "string",
			"defaultValue": "PersonFlexible"
		},
		"trg-1430-utc_properties_getGoogleAnalytics_parameters_BatchRowLimit": {
			"type": "int",
			"defaultValue": 1000000
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/scratchpad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Just hacking around",
				"activities": [
					{
						"name": "ListTables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select top 5 TableName, BatchId, SubBatchId\nfrom dbo.gbqWatermark\nwhere SubBatchId is not null\nunion all\nselect top 5 TableName, BatchId, SubBatchId\nfrom dbo.gbqWatermark\nwhere SubBatchId is null",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "OpSqlTable",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dbo",
									"tableName": "customers",
									"sqlFqdn": "localhost\\ACB",
									"dbName": "LoadControl",
									"userName": "AB092898@flooranddecor.com"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "DoSomeStuffForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListTables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "WriteSomething",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Something",
											"value": "@{concat(item().BatchId, '.', item().SubBatchId)}"
										},
										{
											"name": "NullCheck",
											"value": "@{concat(item().BatchId, if(equals(item().SubBatchId, null), '', concat('.', item().SubBatchId)))}"
										}
									],
									"typeProperties": {
										"variableName": "Something",
										"value": {
											"value": "@{concat(item().BatchId, if(equals(item().SubBatchId, null), '', concat('.', item().SubBatchId)))}",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Something": {
						"type": "String",
						"defaultValue": "uninit"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/schRunPipelines')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Scheduled trigger to run one or more pipelines (POC)",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SchemaDriftTest",
							"type": "PipelineReference"
						},
						"parameters": {
							"plSourceSchema": "[parameters('schRunPipelines_properties_SchemaDriftTest_parameters_plSourceSchema')]",
							"plSourceTable": "[parameters('schRunPipelines_properties_SchemaDriftTest_parameters_plSourceTable')]",
							"plTargetSchema": "[parameters('schRunPipelines_properties_SchemaDriftTest_parameters_plTargetSchema')]",
							"plTargetTableRigid": "[parameters('schRunPipelines_properties_SchemaDriftTest_parameters_plTargetTableRigid')]",
							"plTargetTableFlexible": "[parameters('schRunPipelines_properties_SchemaDriftTest_parameters_plTargetTableFlexible')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2023-11-10T18:03:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg-1430-utc')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "getGoogleAnalytics",
							"type": "PipelineReference"
						},
						"parameters": {
							"BatchRowLimit": "[parameters('trg-1430-utc_properties_getGoogleAnalytics_parameters_BatchRowLimit')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-01-27T14:30:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		}
	]
}