data-factory/pipeline/getMMS2.json
{
	"name": "getMMS2",
	"properties": {
		"description": "Bronze Data Ingestion MMS\n\nDataset to Linked Service mapping:\n\nWarkmarkMI: GenericAzureSqlDatabaseMI\n\nSalesforceKV: GenericSalesforceKV \n\n(Change to correct generic linked service based on type requirements)\n\nDLBronzeParquetKV: GenericAzureDataLakeStorageGen2KV",
		"activities": [
			{
				"name": "Set varWatermarkTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varWatermarkTimestamp",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Watermark List",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Skipped",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "dbo.GetWatermark",
						"storedProcedureParameters": {
							"BatchName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.prmLCBatchName",
									"type": "Expression"
								}
							},
							"SourceServiceType": {
								"type": "String",
								"value": {
									"value": "@variables('varSourceServiceType')",
									"type": "Expression"
								}
							},
							"SinkServiceType": {
								"type": "String",
								"value": {
									"value": "@variables('varSinkServiceType')",
									"type": "Expression"
								}
							},
							"Environment": {
								"type": "String",
								"value": {
									"value": "@pipeline().globalParameters.gpEnvironment",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkMI",
						"type": "DatasetReference",
						"parameters": {
							"dsServerName": {
								"value": "@pipeline().globalParameters.gpWMSQL",
								"type": "Expression"
							},
							"dsDatabaseName": {
								"value": "@pipeline().globalParameters.gpWMDatabase",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Object",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Watermark List",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varWatermarkTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Watermark List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Watermark Override Is True",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy By Batch Type",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(pipeline().parameters.prmWatermarkOverride, true)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Update Watermark",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "GenericAzureSqlDatabaseMI",
											"type": "LinkedServiceReference",
											"parameters": {
												"lsServerName": {
													"value": "@pipeline().globalParameters.gpWMSQL",
													"type": "Expression"
												},
												"lsDatabaseName": {
													"value": "@pipeline().globalParameters.gpWMDatabase",
													"type": "Expression"
												}
											}
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@concat('UPDATE dbo.Watermark SET SourceWatermarkFieldValue = ''', formatDateTime(variables('varWatermarkTimestamp'), 'yyyy-MM-dd HH:mm:ss'), ''' WHERE Id = ', string(item().WatermarkId))\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						},
						{
							"name": "Copy By Batch Type",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().BatchType",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Incremental",
										"activities": [
											{
												"name": "Copy MMS to ADL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "Db2Source",
														"query": {
															"value": "SELECT * FROM @{item().SourceObjectName} limit 100",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Db2KV",
														"type": "DatasetReference",
														"parameters": {
															"dsKVBaseURL": {
																"value": "@item().SourcedsKVBaseURL",
																"type": "Expression"
															},
															"dsSecretName": {
																"value": "@item().SourcedsSecretName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DLBronzeParquetKV",
														"type": "DatasetReference",
														"parameters": {
															"dsURL": {
																"value": "@item().SinkdsURL",
																"type": "Expression"
															},
															"dsSecretName": {
																"value": "@item().SinkdsSecretName",
																"type": "Expression"
															},
															"dsFileSystem": {
																"value": "@item().SinkdsFileSystem",
																"type": "Expression"
															},
															"dsDirectory": {
																"value": "@concat(item().SinkdsDirectory, '/', item().SourceName, '/', item().SinkObjectName, '/', if(equals(pipeline().parameters.prmWatermarkOverride,true), formatDateTime(pipeline().parameters.prmOverrideEndDate, 'yyyy'),formatDateTime(variables('varWatermarkTimestamp'), 'yyyy')), '/', if(equals(pipeline().parameters.prmWatermarkOverride,true), formatDateTime(pipeline().parameters.prmOverrideEndDate, 'MM'),formatDateTime(variables('varWatermarkTimestamp'), 'MM')), '/', if(equals(pipeline().parameters.prmWatermarkOverride,true), formatDateTime(pipeline().parameters.prmOverrideEndDate, 'dd'),formatDateTime(variables('varWatermarkTimestamp'), 'dd')))",
																"type": "Expression"
															},
															"dsKVBaseURL": {
																"value": "@item().SinkdsKVBaseURL",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get Watermark Records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select @@servername as sn, db_name() as db\r\n/*\r\ndeclare @tmp table (    [Id]                        INT,\r\n    [BatchName]                 VARCHAR (255)  NOT NULL,\r\n    [BatchType]                 VARCHAR (30)   NOT NULL,\r\n    [BatchStep]                 SMALLINT       NOT NULL,\r\n    [Environment]               VARCHAR (30)   NOT NULL,\r\n    [SourceServiceType]         VARCHAR (60)   NOT NULL,\r\n    [SourceName]                VARCHAR (255)  NOT NULL,\r\n    [SourceConnection]          VARCHAR (2000) NULL,\r\n    [SourceObjectName]          VARCHAR (255)  NOT NULL,\r\n    [SourcePKFieldName]         VARCHAR (255)  NOT NULL,\r\n    [SourcePKFieldValue]        VARCHAR (255)  NULL,\r\n    [SourceWatermarkFieldName]  VARCHAR (255)  NOT NULL,\r\n    [SourceWatermarkFieldValue] VARCHAR (255)  NULL,\r\n    [SourceWatermarkDataType]   VARCHAR (255)  NOT NULL,\r\n    [SourceWatermarkTimezone]   VARCHAR (30)   NULL,\r\n    [SinkServiceType]           VARCHAR (60)   NOT NULL,\r\n    [SinkName]                  VARCHAR (255)  NOT NULL,\r\n    [SinkConnection]            VARCHAR (2000) NULL,\r\n    [SinkObjectName]            VARCHAR (255)  NOT NULL,\r\n    [IsActive]                  BIT            NOT NULL,\r\n    [CreateDateUtc]             DATETIME2 (7) NULL,\r\n    [UpdateDateUtc]             DATETIME2 (7) NULL,\r\n    [SourceQuery]               VARCHAR (2000) NULL\r\n)\r\n\r\nUPDATE dbo.Watermark \r\nSET SourceWatermarkFieldValue = '2024-05-03 18:45:19' \r\noutput inserted.* into @tmp\r\nWHERE Id = 10\r\n\r\nselect * from @tmp\r\n*/",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkMI",
						"type": "DatasetReference",
						"parameters": {
							"dsServerName": {
								"value": "@pipeline().globalParameters.gpWMSQL",
								"type": "Expression"
							},
							"dsDatabaseName": {
								"value": "@pipeline().globalParameters.gpWMDatabase",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"prmLCBatchName": {
				"type": "string",
				"defaultValue": "MMS_QA to DLBronzeParquet entdatalakehouse"
			},
			"prmWatermarkOverride": {
				"type": "bool",
				"defaultValue": false
			},
			"prmOverrideStartDate": {
				"type": "string"
			},
			"prmOverrideEndDate": {
				"type": "string"
			}
		},
		"variables": {
			"varWatermarkTimestamp": {
				"type": "String"
			},
			"varSourceServiceType": {
				"type": "String",
				"defaultValue": "Db2KV"
			},
			"varSinkServiceType": {
				"type": "String",
				"defaultValue": "DLBronzeParquetKV"
			}
		},
		"folder": {
			"name": "Data Lake"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-19T21:05:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}