data-factory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "GoogleBigQuerySource",
						"query": "select      t.table_schema, t.table_name, t.table_type, \n            ts.total_physical_bytes, ts.total_logical_bytes\nFROM        `region-us`.INFORMATION_SCHEMA.TABLES t\njoin        `region-us`.INFORMATION_SCHEMA.TABLE_STORAGE ts on t.table_catalog = ts.table_catalog and t.table_schema = ts.table_schema and t.table_name = ts.table_name\nwhere t.table_name not like 'event%'\norder by    t.table_catalog, t.table_schema, t.table_name, t.table_type"
					},
					"dataset": {
						"referenceName": "GoogleBigQueryFND",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LoadTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "GoogleBigQuerySource",
									"query": {
										"value": "@concat('select * from ', item().table_schema, '.', item().table_name)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GoogleBigQueryFND",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzDLStorePq",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}