data-factory/pipeline/scratchpad.json
{
	"name": "scratchpad",
	"properties": {
		"description": "Just hacking around",
		"activities": [
			{
				"name": "ListTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select top 5 TableName, BatchId, SubBatchId\nfrom dbo.gbqWatermark\nwhere SubBatchId is not null\nunion all\nselect top 5 TableName, BatchId, SubBatchId\nfrom dbo.gbqWatermark\nwhere SubBatchId is null",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OpSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "customers",
							"sqlFqdn": "localhost\\ACB",
							"dbName": "LoadControl",
							"userName": "AB092898@flooranddecor.com"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DoSomeStuffForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "WriteSomething",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Something",
									"value": "@{concat(item().BatchId, '.', item().SubBatchId)}"
								},
								{
									"name": "NullCheck",
									"value": "@{concat(item().BatchId, if(equals(item().SubBatchId, null), '', concat('.', item().SubBatchId)))}"
								}
							],
							"typeProperties": {
								"variableName": "Something",
								"value": {
									"value": "@{concat(item().BatchId, if(equals(item().SubBatchId, null), '', concat('.', item().SubBatchId)))}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Something": {
				"type": "String",
				"defaultValue": "uninit"
			}
		},
		"annotations": []
	}
}